/* CSS Document */

.mainbar {
	border-left:none;
}

.navbar {
    box-shadow: none;
	margin-bottom:0;
}

.navbar-inner {
	border-radius:0;
}

.pagination {
    margin: 3px 0;
}

.iframe-mainbar{
  overflow:hidden;
	background:#EEEFF2;
	border: none;
	z-index: 50;
	min-height: inherit;
	position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

textarea.text, input.text {
	border:0px;
	box-shadow:none;
	transition:none;
}

textarea[readonly].text, input[readonly].text {
	background-color:#fff;
}

/*
.table {
    margin-bottom: 0;
    width: 100%;
}
*/

.table-noborder th, .table-noborder td {
	border:none;
}

.table dl {
	margin:0;
}

.table .dl-horizontal dt {
	width:90px;
}

.table .dl-horizontal dd {
    margin-left: 110px;
}

.table dl label {
	line-height:35px;
}

.modal {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    margin: auto;
    outline: 0 none;
    position: relative;
	left:auto;
	top:auto;
    width: 800px;
    z-index: 1050;
}

dd .help-block {
	margin:0;
}

/*
.tabbable {
	position:relative;
	top:0;
	bottom:0;
	left:0;
	right:0;
}*/

.tabbable .tab-content {
	overflow:hidden;
}


/* -------------------------------------------------------------- */

.padd {
	padding: 13px 15px;
}

.no-margin {
	margin:0;
}

.fix-box, .fix-box-f {
	position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fix-box {
	top:42px;
}

.table-list {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

.table-list table {
	margin:0;
}

.table-list .table-condensed th, .table-condensed td {
	padding:8px;	
}

table thead {
	background: -moz-linear-gradient(center top , #f8f8f8, #f2f2f2) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-top: 1px solid #fff;
}

.table-list .header {
	height: 38px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.table-list .body {
	bottom: 38px;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 38px;
}

.table-list .footer {
	background: -moz-linear-gradient(center top , #f8f8f8, #f2f2f2) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-top: 1px solid #ccc;
    bottom: 0;
    height: 38px;
    left: 0;
    position: absolute;
    right: 0;
	padding:0 8px;
	line-height:38px;
}

.table-list .footer .left, .table-list .footer .right {
	line-height:38px;	
}